.wrapper.padding2
  .title
    Зарегистрировать ООО в Москве
    %br
    Всё включено за
    %span.light 9 000 рублей

.wrapper.padding1
  .phone
    8 (495) 215 58 24


.wrapper.padding1
  .order-button
    Заказать звонок



.modal-overlay
.modal-dialog
  .header
    Заказать звонок
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Заказать звонок

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!